<h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p>

<div class="container">
    <% @letters.each do |letter| %>
    <div class="letter-box">
      <%= letter %>
    </div>
  <% end %>
</div>

<form action="/score" method="post">
  <input type="text" name="">
  <input type="submit" >

</form>
